<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>

<p class="text">Сообщения :</p>

<form action="filter" method="post">
    <input style="margin-bottom: 20px" type="text" name="filter" />
    <button type="submit">Найти</button>
</form>

<div style="display: flex" th:each="message: ${messages}">
    <div
            style="
          display: flex;
          width: 40px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          margin-right: 10px;
        "
    >
        <!-- <p style="margin: 0 auto; font-weight: 700; font-size: 18px">ID</p> -->
        <p
                style="font-weight: 700; margin: 0 auto; margin-bottom: 20px"
                th:text="${message.id}"
        ></p>
    </div>
    <div
            style="
          display: flex;
          width: 100px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          margin-right: 10px;
        "
    >
        <!--<p style="margin: 0 auto; font-weight: 700; font-size: 18px">Name</p>-->
        <p
                style="margin-right: 20px; margin: 0 auto; margin-bottom: 20px"
                th:text="${message.text}"
        ></p>
    </div>
    <div
            style="
          display: flex;
          width: 150px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
    >
        <!--  <p style="margin: 0 auto; font-weight: 700; font-size: 18px">Password</p> -->
        <p
                style="margin: 0 auto; margin-bottom: 20px"
                th:text="${message.tag}"
        ></p>
    </div>
    <div
            style="
          display: flex;
          width: 150px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
    >
        <!--  <p style="margin: 0 auto; font-weight: 700; font-size: 18px">Password</p> -->
        <p
                style="margin: 0 auto; margin-bottom: 20px"
                th:text="${message.NameAuthor}"
        ></p>
    </div>
</div>

</body>
</html>